.maktab{
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
    color: red;
}
.rasm{
    border-radius: 15px;
    margin-left: 180px;
}
.lokatsiya{
    margin-left: 500px;
}


.seacher{
    width: 70%;
    height: 30px;
    margin-left: 15%;
    margin-top: 20px;
    border-radius: 15px;
    border: solid;
    border-color: blue;
}

.menu_item{
    text-decoration: solid;
    font-size: 30px;
    margin-left: 35px;
    margin-top: 5px;
}
.location{
    margin-right: 45px;
}



