.bosh_qism{
    margin-left: 100px;
    color: red;
    background-color: black;
}
.bosh_qism1{
    margin-left: 600px;
    color: red;
    background-color: black;
}
.oqituvchi{
    color: red;
    background-color: aquamarine;
    margin-left:-900px;
   
    
}
.lavozim{
   margin-left: 860px;
   color: red;
   background-color: aquamarine;
}